@charset "utf-8";
.FrontOrders_showMiniCart01-d1_c1{
   text-align: left;
    margin: 0px auto;
    width: 100%;
    clear: both;
    padding-top: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 IMG{
   vertical-align: middle;
}
.FrontOrders_showMiniCart01-d1_c1 A{
   zoom: 1;
    vertical-align: baseline;
    text-decoration: none;
    color:#666;
}
.FrontOrders_showMiniCart01-d1_c1 A:hover{
   text-decoration: none;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-stat{
   z-index: 109;
    position: relative;
    padding-left: 20px;
    width: 50%;
    float: left;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate{
   width: 45%;
    float: right;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-stat EM{
   padding-bottom: 0px;
    font-style: normal;
    padding-left: 0px;
    padding-right: 0px;
    color: #e60012;
    padding-top: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-stat SPAN{
   padding-left: 10px;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate{
   padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate SPAN{
   padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 10px;
    padding-top: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-car{
}
.FrontOrders_showMiniCart01-d1_c1 .my-minicar{
   z-index: 100;
    position: absolute;
    width: 385px;
    top: 25px;
    left: -20px;
    display:none;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-top{
   background-image: url(/images/orders/minicar-bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 13px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-body{
   background-image: url(/images/orders/minicar-bg.gif);
    border-left: #d8d8d8 1px solid;
    background-color: #ececec;
    background-repeat: no-repeat;
    background-position: left -13px;
    
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-body H3{
   position: relative;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list{
   background-image: url(/images/orders/minicar-right.gif);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-repeat: repeat-y;
    background-position: right top;
    padding-top: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .close{
   position: absolute;
    top: -1px;
    right: 0px;
    _top: -5px;
    _right: 10px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .close A{
   background-image: url(/images/orders/close1.gif);
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .close A:hover{
   background-image: url(/images/orders/close1-hover.gif);
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .list-top{
   background-image: url(/images/orders/minicar-list-top.gif);
    background-repeat: no-repeat;
    background-position: 5px top;
    height: 10px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .list-bottom{
   background-image: url(/images/orders/minicar-list-bottom.gif);
    background-repeat: no-repeat;
    background-position: 5px bottom;
    height: 10px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-list .list-product{
   border-left: #d8d8d8 1px solid;
    background-color: #fff;
    width: 358px;
    margin-left: 5px;
    border-right: #d8d8d8 1px solid;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .products{
   border-bottom: #d8d8d8 1px dotted;
    padding-left: 5px;
    width: 353px;
    display: inline-block;
    padding-top: 5px;
    _padding-bottom: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .gifts{
   border-bottom: #d8d8d8 1px dotted;
    padding-left: 5px;
    width: 353px;
    height: 25px;
    clear: both;
    padding-top: 5px;
    _padding-bottom: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .first{
   padding-top: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .last{
   border-bottom-style: solid;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-pic{
   margin: 5px;
    width: 80px;
    float: left;
    height: 60px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-pic1{
   margin: 5px;
    width: 0px;
    float: left;
    height: 60px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-pic IMG{
   width: 70px;
    height: 65px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-pic1 IMG{
   width: 0px;
    height: 0px;
}
.FrontOrders_showMiniCart01-d1_c1 .product-pic{
}
.FrontOrders_showMiniCart01-d1_c1 .product-pic A{
   border-bottom: #d8d8d8 1px solid;
    border-left: #d8d8d8 1px solid;
    display: inline-block;
    border-top: #d8d8d8 1px solid;
    border-right: #d8d8d8 1px solid;
}
.FrontOrders_showMiniCart01-d1_c1 .product-pic A:hover{
   border-bottom: #ff0000 1px solid;
    border-left: #ff0000 1px solid;
    border-top: #ff0000 1px solid;
    border-right: #ff0000 1px solid;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-info{
   text-align: left;
    padding-left: 10px;
    width: 230px;
    float: left;
    margin-left: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-info1{
   text-align: left;
    padding-left: 10px;
    width: 310px;
    float: left;
    margin-left: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .list-product .product-info1{
   text-align: left;
    padding-left: 10px;
    width: 310px;
    float: left;
    margin-left: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .product-info .product-name{
   line-height: 36px;
    color: #36c;
}
.FrontOrders_showMiniCart01-d1_c1 .product-info .product-name A{
}
.FrontOrders_showMiniCart01-d1_c1 .product-info .delete{
}
.FrontOrders_showMiniCart01-d1_c1 .product-price{
}
.FrontOrders_showMiniCart01-d1_c1 .product-price .price{
   margin-bottom: 20px;
    float: right;
}
.FrontOrders_showMiniCart01-d1_c1 .product-price .product-memo{
   width: 100%;
    float: left;
}
.FrontOrders_showMiniCart01-d1_c1 .product-total{
   text-align: right;
    border-left: #d8d8d8 1px solid;
    background-color: #fff;
    width: 348px;
    padding-right: 10px;
    margin-left: 5px;
    border-right: #d8d8d8 1px solid;
    padding-top: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .minicar-bottom{
   background-image: url(/images/orders/minicar-bottom.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 4px;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate{
   float: right;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate A{
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate .check-out{
   background-image: url(/images/orders/clear.gif);
    padding-left: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate .my-order{
   background-image: url(/images/orders/order.gif);
    padding-left: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}
.FrontOrders_showMiniCart01-d1_c1 .shopping-operate .my-favor{
   background-image: url(/images/orders/favor.gif);
    padding-left: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}
.FrontOrders_showMiniCart01-d1_c1 .user-operate{
   padding-bottom: 5px;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
}
.FrontOrders_showMiniCart01-d1_c1 .user-operate .clear-car{
   background-image: url(/images/orders/close-icon.gif);
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    margin-left: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .user-operate .check-out{
   float: right;
    margin-right: 10px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb{
   text-align: left;
    line-height: 25px;
    width: 351px;
    display: none;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb .popup-product{
   background-image: url(/images/orders/ok.gif);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left 2px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb .close{
   position: absolute;
    margin-top: -7px;
    display: inline-block;
    float: right;
    top: 10px;
    right: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb .close A{
   background-image: url(/images/orders/close1.gif);
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb .close A:hover{
   background-image: url(/images/orders/close1-hover.gif);
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-top{
   background-image: url(/images/orders/popup-frame-gb.gif);
    position: relative;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 6px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-con{
   background-image: url(/images/orders/popup_frame_gb3.gif);
    border-left: #c9c9c9 1px solid;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: center top;
    border-right: #c9c9c9 1px solid;
    padding-top: 20px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-bottom{
   background-image: url(/images/orders/popup-frame-gb2.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 6px;
}
.FrontOrders_showMiniCart01-d1_c1 .add-product{
   padding-left: 20px;
    color: #0066cc;
}
.FrontOrders_showMiniCart01-d1_c1 .add-product-car{
   color: #000;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-total{
   margin-top: 3px;
    margin-left: 20px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-operate{
   margin-top: 7px;
    margin-left: 20px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-operate A{
   color: #0066cc;
    margin-right: 5px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-number{
   color: #f00;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-price{
   color: #f00;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-frame-gb .shopping{
   background-image: url(/images/orders/cart.gif);
    padding-left: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-onec{
   background-image: url(/images/orders/product-popup-onec-gb.gif);
    text-align: center;
    line-height: 25px;
    width: 241px;
    display: none;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 16px;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-onec-bottom{
   background-image: url(/images/orders/product-popup-onec-gb.gif);
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.FrontOrders_showMiniCart01-d1_c1 .popup-onec-content{
   border-left: #cacccb 1px solid;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-right: #cacccb 1px solid;
}
.FrontOrders_showMiniCart01-d1_c1 .product-onec-name{
   background-image: url(/images/orders/ok.gif);
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left top;
    color: #0066cc;
}
.FrontOrders_showMiniCart01-d1_c1 .product-onec-car{
   color: #000;
}
.FrontOrders_showMiniCart01-d1_c1 .red-font{
   color: #f00;
    font-weight: bold;
}
