@media screen and (max-width: 900px) {
  body {
    padding-top: 60px;
  }
  .header {
    min-width: 100%;
    height: 60px;
    padding: 0 15px;
  }
  .logo {
    padding: 12px 0 0;
  }
  .logo img {
    width: 40px;
  }

  .menu {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .menu i {
    position: absolute;
    top: 14px;
    left: 5px;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  .menu i::before,
  .menu i::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .menu i::after {
    top: 6px;
  }
  .menu-open i {
    height: 0;
  }
  .menu-open i::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-open i::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav {
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    padding: 0;
    background: #0c151b;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
  .nav-open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .nav a {
    float: none;
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
  }

  .swiper-container {
    min-width: 100%;
    height: 220px;
  }
  .swiper-slide img {
    height: 220px;
  }
  .swiper-container-horizontal .swiper-pagination {
    bottom: 10px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
  }

  .title {
    padding: 20px 0;
    font-size: 16px;
    color: #00b7ee;
    text-align: center;
  }
  .title p {
    font-size: 20px;
    color: #222;
    text-transform: uppercase;
  }
  .title::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin: 8px auto 0;
    background: #222;
  }

  .main {
    width: 100%;
  }

  .main-cause {
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .cause-list {
    width: 1800px;
  }
  .cause-list li {
    width: 200px;
    height: 220px;
    margin-bottom: 0;
  }
  .cause-list-t {
    margin-top: -5px;
    padding: 0 0 5px;
    font-size: 16px;
  }
  .cause-list li p {
    font-size: 14px;
  }
  .cause-list li span {
    margin: 0 auto;
    transform: scale(.8);
  }
  .cause-list li span::before,
  .cause-list li span::after {
    transform: scale(.8);
  }

  .hardware-bg {
    min-width: 100%;
    height: 180px;
  }
  .hardware-list {
    padding-right: 12px;
  }
  .hardware-list li {
    width: 33.33%;
    padding: 10px 0 0 12px;
    box-sizing: border-box;
  }
  .hardware-list-cont {
    height: 150px;
    padding: 0 12px;
    font-size: 12px;
  }
  .hardware-list-cont p {
    padding: 8px 0 5px;
    font-size: 14px;
  }
  .hardware-list li:hover .hardware-list-cont {
    height: 160px;
  }

  .service-list {
    padding: 10px 20px 15px 0;
  }
  .service-list li {
    width: 33.333%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .service-list li img {
    width: 100%;
  }
  .service-list li:nth-child(2) {
    padding: 0 0 0 20px;
  }

  .faulty-list {
    padding: 12px 12px 0 0;
    box-sizing: border-box;
  }
  .faulty-list li {
    width: 33.33%;
    padding: 0 0 0 12px;
    box-sizing: border-box;
  }
  .faulty-list li:nth-child(2) {
    margin: 0;
  }
  .faulty p {
    padding: 20px;
    font-size: 14px;
  }

  .title-solut {
    width: 260px;
    margin: 30px auto 40px;
    background: #f3f4f5;
    color: #222;
  }
  .solution img {
    margin: 20px 0 30px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .title-about {
    padding: 20px 0;
    color: #fff;
  }
  .title-about::after {
    background: #fff;
  }
  .title-about p {
    color: #fff;
  }
  .about-list {
    padding-top: 5px;
    padding-right: 12px;
    box-sizing: border-box;
  }
  .about-list li {
    width: 33.33%;
    padding-left: 12px;
    font-size: 14px;
    box-sizing: border-box;
  }
  .about-list li:nth-child(2) {
    margin: 0;
  }
  .about-list li img {
    width: 100%;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, .2);
  }
  .about-list li:hover img {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .2);
  }
  .about-list li p {
    padding: 15px 0 30px;
  }

  .training img {
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .talent {
    height: auto;
    line-height: 1.5;
    padding: 20px 0 0;
    font-size: 16px;
  }
  .talent span {
    display: block;
    padding: 0 0 20px;
  }
  .talent span:nth-child(1) {
    padding-right: 0;
  }
  .talent span:nth-child(2) {
    padding: 20px 0;
  }
  .talent span img {
    width: 24px;
    vertical-align: -3px;
  }
  .talent span a {
    color: #222;
  }

  .map {
    min-width: 100%;
    height: 300px;
    margin: 30px 0 0;
  }
  .title-map {
    padding-top: 15px;
    color: #fff;
  }
  .title-map p {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }

  .footer {
    min-width: 100%;
    padding: 0 20px;
  }
  .footer-nav {
    padding: 20px 0;
  }
  .footer-nav span {
    display: none;
  }
  .footer-qr {
    padding-top: 10px;
    font-size: 16px;
  }
  .footer-qr img {
    width: 120px;
  }
  .footer-copy {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }
  .footer-copy span {
    display: none;
  }
}
