/* -------------------- Reset Start --------------------*/
body{font:12px/1.5 "Microsoft Yahei",\5b8b\4f53,tahoma,arial;color:#333;background:#fff;-webkit-font-smoothing:antialiased;}
button, input, select, textarea{font:12px/1.5 "Microsoft Yahei",tahoma,arial,\5b8b\4f53}
input, select, textarea{font-size:100%}
html, body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, button, input, textarea, blockquote, th, td{margin:0;padding:0}
img, fieldset, abbr, acronym{border:0}
ol, ul{list-style:none}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:500}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
br{height:0;overflow:hidden;line-height:0}
a{text-decoration:none;outline:none;color:#fff;}
a:hover{text-decoration:none;}
input,textarea{outline:none}
textarea{resize:none}

/*------- 清除浮动 -------*/
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

.main {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

body {
	padding-top: 152px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	min-width: 1400px;
	height: 152px;
	margin: 0 auto;
	background: #0c151b;
	box-sizing: border-box;
	padding: 0 60px;
}
.logo {
	float: left;
	width: 80px;
	height: 73px;
	padding: 40px 0 0;
}
.logo img {
	display: block;
}
.nav {
	float: right;
	padding: 50px 0 0;
	overflow: hidden;
}
.nav a {
	float: left;
	height: 54px;
	line-height: 54px;
	margin: 0 15px;
	padding: 0 20px;
	border-bottom: solid 3px transparent;
	color: #fff;
	font-size: 24px;
}
.nav a:hover,
.nav .cur {
	color: #00b7ee;
	border-bottom-color: #00b7ee;
}

.swiper-container {
	position: relative;
	min-width: 1200px;
	height: 988px;
}
.swiper-slide img {
	width: 100%;
	height: 988px;
	object-fit: cover;
}
.swiper-container-horizontal .swiper-pagination {
  bottom: 50px;
}
.swiper-pagination .swiper-pagination-bullet {
	width: 38px;
	height: 5px;
	background: #ffffff;
	border-radius: 1px;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background: #2b75ff;
}

.title {
	padding: 60px 0;
	font-size: 36px;
	color: #00b7ee;
	text-align: center;
}
.title p {
	font-size: 56px;
	color: #222;
  text-transform: uppercase;
}
.title::after {
	content: "";
	display: inline-block;
	width: 60px;
	height: 2px;
	background: #222;
}

.cause-list li {
	float: left;
	width: 280px;
	height: 270px;
	margin: 0 20px 20px 0;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.cause-list-t {
	padding: 10px 0;
	font-size: 20px;
	font-weight: 600;
	color: #444;
	text-align: center;
}
.cause-list li p {
  line-height: 24px;
	padding: 0 24px;
	font-size: 18px;
	font-weight: 600;
	color: #999;
	text-align: left;
}
.cause-list li:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.cause-list li span {
	position: relative;
	display: block;
	width: 78px;
	height: 77px;
	margin: 30px auto 0;
}
.cause-list li span::before,
.cause-list li span::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 78px;
	height: 77px;
	background: url(../images/icon_sp.png) no-repeat;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.cause-list li:hover span::before {
	opacity: 0 !important;
}
.cause-list li:hover span::after {
	opacity: 1 !important;
}
.cause-list li span::after {
	opacity: 0;
	background-position: -78px 0;
}
.cause-list li:nth-child(2) span::before {
	background-position: 0 -77px;
}
.cause-list li:nth-child(2) span::after {
	opacity: 0;
	background-position: -78px -77px;
}
.cause-list li:nth-child(3) span::before {
	background-position: 0 -154px;
}
.cause-list li:nth-child(3) span::after {
	opacity: 0;
	background-position: -78px -154px;
}
.cause-list li:nth-child(4) span::before {
	background-position: 0 -231px;
}
.cause-list li:nth-child(4) span::after {
	opacity: 0;
	background-position: -78px -231px;
}
.cause-list li:nth-child(5) span::before {
	background-position: 0 -308px;
}
.cause-list li:nth-child(5) span::after {
	opacity: 0;
	background-position: -78px -308px;
}
.cause-list li:nth-child(6) span::before {
	background-position: 0 -385px;
}
.cause-list li:nth-child(6) span::after {
	opacity: 0;
	background-position: -78px -385px;
}
.cause-list li:nth-child(7) span::before {
	background-position: 0 -462px;
}
.cause-list li:nth-child(7) span::after {
	opacity: 0;
	background-position: -78px -462px;
}
.cause-list li:nth-child(8) span::before {
	background-position: 0 -539px;
}
.cause-list li:nth-child(8) span::after {
	opacity: 0;
	background-position: -78px -539px;
}

.hardware {
  position: relative;
}
.hardware-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1200px;
  height: 348px;
  background: #222;
}
.hardware .main {
  position: relative;
  z-index: 100;
}
.hardware-list li {
  float: left;
  width: 372px;
  padding: 30px 14px 0;
  -webkit-transition: padding .3s ease-in;
  transition: padding .3s ease-in;
}
.hardware-list-img {
  overflow: hidden;
}
.hardware-list-img img {
  display: block;
  width: 100%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.hardware-list-cont {
  height: 268px;
  padding: 0 24px;
  background: #f7f7f7;
  font-size: 20px;
  color: #b7b7b7;
  -webkit-transition: height .3s ease-in;
  transition: height .3s ease-in;
}
.hardware-list-cont p {
  padding: 25px 0 10px;
  font-size: 24px;
  color: #535353;
}
.hardware-list li:hover {
  padding-top: 0;
}
.hardware-list li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hardware-list li:hover .hardware-list-cont {
  height: 298px;
}

.service-list {
  padding: 50px 0;
}
.service-list li {
  position: relative;
  float: left;
  width: 300px;
  text-align: center;
  font-size: 30px;
  color: #292929;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.service-list li img {
  display: block;
  width: 274px;
  margin: 0 auto;
}
.service-list li p {
  padding: 20px 0 0;
}
.service-list li span {
  letter-spacing: 8px;
  font-size: 22px;
  color: #eea537;
}
.service-list li:nth-child(2) {
  padding: 0 150px;
}
.service-list li:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.faulty {
  background: #f3f4f5;
}
.faulty-list {
	padding: 120px 0 0;
}
.faulty-list li {
	float: left;
	width: 378px;
	overflow: hidden;
}
.faulty-list li:nth-child(2) {
	margin: 0 27px;
}
.faulty-list li img {
	display: block;
	width: 100%;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.faulty-list li:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.faulty p {
	padding: 50px 0;
	font-size: 24px;
	text-align: center;
	color: #8b8b8b;
}

.title-solut {
	width: 650px;
	margin: 60px auto 40px;
	background: #f3f4f5;
	color: #222;
}
.solution img {
	display: block;
	width: 100%;
	margin: 30px 0 60px;
}

.title-about {
  padding: 50px 0;
	color: #fff;
}
.title-about::after {
	background: #fff;
}
.title-about p {
	color: #fff;
}
.about {
	background: #00b7ee;
}
.about-list li {
  float: left;
  width: 264px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.about-list li:nth-child(2) {
  margin: 0 200px;
}
.about-list li img {
  display: block;
  width: 264px;
  border-radius: 50%;
  box-shadow: -10px 10px 14px rgba(0, 0, 0, .4);
  -webkit-transition: all .6s;
  transition: all .6s;
}
.about-list li:hover img {
  box-shadow: 10px 10px 14px rgba(0, 0, 0, .4);
}
.about-list li p {
  padding: 40px 0 50px;
}

.title-training {
	text-shadow: 0 0 10px rgba(0, 183, 238, .4);
}
.title-training p {
	text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.training img {
	width: 100%;
}

.talent {
	height: 260px;
	line-height: 260px;
	background: #f5f6f9;
	font-size: 28px;
	color: #444;
	text-align: center;
}
.talent span:nth-child(1) {
	padding: 0 100px 0 0;
}
.talent span a {
	color: #222;
}
.talent span img {
	padding-right: 5px;
	vertical-align: middle;
}

.map {
  min-width: 1200px;
  height: 747px;
  margin: 60px 0 0;
  background: url(../images/banner_map.jpg) center no-repeat;
  background-size: cover;
  border-bottom: solid 1px #919191;
}
.title-map {
  padding-top: 40px;
  color: #fff;
}
.title-map::after {
  display: none;
}
.title-map p {
  padding: 10px 0 0;
  font-size: 20px;
  color: #fff;
}

.footer {
  min-width: 1200px;
  padding: 0 120px;
  background: #303030;
	box-sizing: border-box;
}
.footer-nav {
  position: relative;
  padding: 60px 0;
  text-align: center;
}
.footer-nav span {
  display: inline-block;
  margin: 0 30px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.footer-qr {
	padding-top: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.footer-qr img {
  display: block;
  width: 170px;
  margin: 0 auto 14px;
}
.footer-copy {
  position: relative;
  height: 88px;
  line-height: 88px;
  border-top: solid 2px #434343;
  color: #999;
  font-size: 20px;
}
.footer-copy span {
  position: absolute;
  right: 0;
}

.hide{
	display: none;
}
