@charset "utf-8";
/** 全局样式 **/
.FrontLinks_list01-d1_c1 {
	width:98%;
	margin:0 auto;
	color:#000;
	clear:both;
	text-align:left;
}
/** 左右按钮 **/
.FrontLinks_list01-d1_c1 ul {
}
.FrontLinks_list01-d1_c1 .more{
	width:10%;
	float:left;
	text-align:right;
}
/** 图片列表 **/
.FrontLinks_list01-d1_c1 .content {
	float:left;
	margin:10px 0;
}
/** 图片列表 图片 **/
.FrontLinks_list01-d1_c1 .content .pic a {
	border:1px solid #CCCCCC;
	display:block;
	height:39px;
	margin:0 auto;
	padding:0;
	width:96px;
}
.FrontLinks_list01-d1_c1 .content .pic{
}
.FrontLinks_list01-d1_c1 .content .pic img{
	height:31px;
	margin:4px;
	width:88px;
}
.FrontLinks_list01-d1_c1 .content p a:hover {
	border:1px solid #ff6600;
}
/** 图片列表 标题 **/
.FrontLinks_list01-d1_c1 .content h4 {
	text-align:center;
	width:100%;
	margin:5px auto 0 auto;
	float:left;
}
.FrontLinks_list01-d1_c1 .content h4 a {
}
.FrontLinks_list01-d1_c1 .content h4 a:hover {
	/*font-size:12px;
	color:#000;
	text-decoration:underline;*/
}
.FrontLinks_list01-d1_c1 .content h5{
	text-align:center;
	width:100%;
	float:left;
}
.FrontLinks_list01-d1_c1 .content1{
	width:150px;
}
/** 更多 **/
.FrontLinks_list01-d1_c1 .skip-more {
	margin-top:10px;
	text-align:right;
}
.FrontLinks_list01-d1_c1 .skip-more a {
}
.FrontLinks_list01-d1_c1 .skip-more a:hover {
	/* color:#0066cc;
	text-decoration:underline; */
}

/* -----滚动样式----------------------------------------------------------------------- */
	/* navigation */
.FrontLinks_list01-d1_c1 .scrollnavi {
	width: 200px;
	height: 20px;
}

.FrontLinks_list01-d1_c1 .scrollnavi a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	background: url(/images/links/navigator.png) 0 0 no-repeat;
	display: block;
	font-size: 1px;
}

.FrontLinks_list01-d1_c1 .scrollnavi a:hover {
	background-position: 0 -8px;
}

.FrontLinks_list01-d1_c1 .scrollnavi a.active {
	background-position: 0 -16px;
}

/* buttons */
.FrontLinks_list01-d1_c1 a.scrollbrowse {
	background: url(/images/links/hori_large.png) no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin: 40px 10px;
	cursor: pointer;
	font-size: 1px;
}

.FrontLinks_list01-d1_c1 a.scrollright {
	background-position: 0 -30px;
	margin-right: 0px;
	float:left;
}

.FrontLinks_list01-d1_c1 a.scrollright:hover {
	background-position: -30px -30px;
}

.FrontLinks_list01-d1_c1 a.scrollright:active {
	background-position: -60px -30px;
}

.FrontLinks_list01-d1_c1 a.scrollleft {
	margin-left: 0px;
	float:left;
}

.FrontLinks_list01-d1_c1 a.scrollleft:hover {
	background-position: -30px 0;
}

.FrontLinks_list01-d1_c1 a.scrollleft:active {
	background-position: -60px 0;
}

.FrontLinks_list01-d1_c1 a.scrollup,.FrontLinks_list01-d1_c1 a.scrolldown {
	background: url(/images/links/vert_large.png) no-repeat;
	float: none;
	margin: 10px 50px;
}

.FrontLinks_list01-d1_c1 a.scrollup:hover {
	background-position: -30px 0;
}

.FrontLinks_list01-d1_c1 a.scrollup:active {
	background-position: -60px 0;
}

.FrontLinks_list01-d1_c1 a.scrolldown {
	background-position: 0 -30px;
	clear:both;
	float:left;
}

.FrontLinks_list01-d1_c1 a.scrolldown:hover {
	background-position: -30px -30px;
}

.FrontLinks_list01-d1_c1 a.scrolldown:active {
	background-position: -60px -30px;
}

.FrontLinks_list01-d1_c1 .scrollable {
	position: relative;
	overflow: hidden;
	float:left;
	/**width: 410px;**/
	height: 60px;
	width:575px;
}

.FrontLinks_list01-d1_c1 .scrollitems {
	width: 5000px;
	position: absolute;
	clear: both;
}

.FrontLinks_list01-d1_c1 .scrollable_vertical {
	position: relative;
	overflow: hidden;
	height: 60px;
	width:575px;
}

.FrontLinks_list01-d1_c1 .scrollitems_vertical {
	height: 20000px;
	position: absolute;
	clear: both;
}
.FrontLinks_list01-d1_c1 .scrollable_vertical .scrollitems {
	height: 20000px;
	position: absolute;
	clear: both;
}
.FrontLinks_list01-d1_c1 .content1{
	width:150px;
}
.FrontLinks_list01-d1_c1 .scrollliner 
	{position:static;}
.FrontLinks_list01-d1_c1 .scrollliner .scrollitems
	{position:static;}
