* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background: #f7f7f7;
    padding: 0;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    font-family: "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", helvetica, arial;
}

img {
    display: block;
    border: 0;
}

ul,ol {
    list-style: none
}

input,
img {
    vertical-align: middle;
}

a,
img {
    -webkit-touch-callout: none;
    /* 禁止长按链接与图片弹出菜单 */
}

a {
    color: #fff;
    text-decoration: none;
}

a:focus, a:hover,a:visited {
    color: #333;
    text-decoration: none;
}

button {
  outline: none !important;
}

.main-header {
  padding: 15px 15px 0;
  background: #5192f4;
  color: #fff;
}
.main-user-info {
  display: flex;
  align-items: center;
}
.main-user-i-avatar {
  width: 80px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.main-user-i-cont {
  flex: 1;
  padding: 0 20px;
  font-size: 16px;
}
.main-user-i-cont p {
  margin-bottom: 0;
}
.main-user-info-set {
  flex-shrink: 0;
  height: 60px;
}
.main-user-info-i {
  display: block;
}
.main-user-info-i img {
  width: 25px;
}
.main-user-num {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding: 15px 0 0;
  color: #fff;
  font-size: 16px;
}
.main-user-num li {
  position: relative;
  flex: 1;
  text-align: center;
}
.main-user-num li p {
  margin-bottom: 0;
}
.main-user-num li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  margin: -10px 0 0;
  background: #fff;
}
.main-user-num li:last-child:after {
  display: none;
}
.main-banner {
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.main-banner::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: -50%;
  z-index: -1;
  width: 1000px;
  height: 1000px;
  margin: 0 0 0 -21%;
  background: #5192f4;
  border-radius: 50%;
}
.main-banner-img {
  display: block;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  border-radius: 20px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 20px;
  padding: 25px 0 12px;
  background: #fff;
  border-radius: 20px;
}
.main-list a {
  width: 33.33%;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}
.main-list a img {
  display: inline-block;
  width: 80px;
}
.main-list a p {
  margin-bottom: 0;
}

.no-result {
  padding: 100px 0 0;
  text-align: center;
  font-size: 16px;
}
.no-result img {
  width: 65%;
  margin: 0 auto;
}

.list {
  padding: 20px 15px 0;
}
.list-link {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding: 15px 20px 12px;
  background: #fff;
  border-radius: 10px;
  color: #000;
}
.list-link-tit {
  position: relative;
  margin-bottom: 3px;
  font-weight: 700;
}
.list-link-t-tag {
  position: absolute;
  right: 0;
  top: 0;
}
.list-link p {
  margin-bottom: 0;
  line-height: 28px;
}
.list-link-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 20px;
  height: 30px;
  margin-top: -10px;
  background: url(../img/arrow.png) no-repeat;
  background-size: 20px auto;
  color: #000;
  font-size: 15px;
}
.list-link-a-tag {
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -11px;
}

.list-info {
  padding: 20px 15px;
}
.list-info-i {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
}
.list-info-item {
  display: flex;
  padding: 15px 0;
  border-bottom: solid 1px #f1f1f1;
  align-items: center;
  color: #000;
}
.list-info-i a:last-child {
  border-bottom: 0;
}
.list-info-i-a {
  width: 50px;
  border-radius: 50%;
  border: solid 1px #eee;
  flex-shrink: 0;
}
.list-info-i-c {
  flex: 1;
  padding: 0 15px;
}
.list-info-i-c p {
  margin-bottom: 0;
}
.list-info-i-arr {
  display: flex;
  align-items: center;
}
.list-info-i-arr-i {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}
.list-info-add {
  padding: 25px 0 10px;
  text-align: center;
}
.list-info-i-l {
  margin: 15px 0 4px;
  font-size: 14px;
}
.list-info-i-btn {
  padding: 20px 0 15px;
  text-align: center;
}
.list-info-i-btn button,
.list-info-i-btn span,
.list-info-i-btn a {
  margin: 0 20px;
}
.input-group-yz {
  margin-top: 25px;
}

.title {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 0 15px;
  font-size: 14px;
}
.title-more {
  position: absolute;
  right: 15px;
  top: 0;
}
.title-more a {
  display: inline-block;
  margin-left: 10px;
  color: #333;
}

.tab {
  display: flex;
  margin-bottom: 0;
  padding: 15px 0 0;
  text-align: center;
}
.tab li {
  flex: 1;
}
.tab li span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  border-bottom: solid 1px transparent;
}
.tab .cur span {
  color: #0F4D96;
  border-color: #0F4D96;
}

.stadent-add {
  position: fixed;
  top: 48%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.stadent-add-cont {
  width: 300px;
  height: 430px;
  padding: 40px 25px 0;
  background: url(../img/add-baby-tanchuang.png) no-repeat;
  background-size: 300px auto;
}
.stadent-add-cont-par {
  background-image: url(../img/add-jiazhang-tanchuang.png);
}
.stadent-add-close {
  padding-top: 15px;
  text-align: center;
}
.stadent-add-close span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/guanbi-tanchuang.png) no-repeat;
  background-size: 30px;
}
.stadent-add-tag span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-right: 15px;
  padding: 0 15px;
  border-radius: 3px;
  border: solid 1px #ccc;
}
.stadent-add-tag span.cur {
  background: rgba(63, 112, 171, 1);
  border-color: rgba(63, 112, 171, 1);
  color: #fff;
}

.list-info-sel {
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 0 5px;
  border: solid 1px #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: none;
}

.btn-add {
  display: inline-block;
  width: 100px;
  height: 44px;
  line-height: 44px;
  background: url(../img/btn-ryb-1.png) no-repeat;
  background-size: 100px 44px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.btn-dis {
  display: inline-block;
  width: 100px;
  height: 44px;
  line-height: 44px;
  background: url(../img/btn-ryb-3.png) no-repeat;
  background-size: 100px 44px;
  color: #fff !important;
  font-size: 14px;
  text-align: center;
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, .5);
}

.loading-more {
  height: 40px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

.footer-logo {
  margin: 30px auto;
  z-index: 2;
}
.footer-logo img {
  width: 50%;
  margin: 0 auto;
}

.hide {
    display: none;
}
