@charset "utf-8";
.FrontMembers_login01-d1_c1{
   text-align: center;
    padding-bottom: 80px;
    margin: 0px auto;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    clear: both;
    padding-top: 80px;
}
.FrontMembers_login01-d1_c1 A{
   color: #666;
    text-decoration: none;
}
.FrontMembers_login01-d1_c1 A:hover{
   color: #0036cc;
    text-decoration: underline;
}
.FrontMembers_login01-d1_c1 .focustext{
   font-style: normal;
    color: #f39800;
}
.FrontMembers_login01-d1_c1 .input{
   border-bottom: #ddd 1px solid;
    border-left: #ddd 1px solid;
    margin-top: 3px;
    width: 250px;
    height: 30px;
    color: #333;
    font-size: 12px;
    border-top: #ddd 1px solid;
    border-right: #ddd 1px solid;
}
.FrontMembers_login01-d1_c1 .input-verify{
   width: 55px;
}
.FrontMembers_login01-d1_c1 .before-login UL{
   padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .after-login UL{
   padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .before-login LI{
   padding-bottom: 0px;
    line-height: 30px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    list-style-image: none;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .after-login LI{
   padding-bottom: 0px;
    line-height: 30px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    list-style-image: none;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .before-login LI SPAN{
   text-align: right;
    width: 40%;
    float: left;
}
.FrontMembers_login01-d1_c1 .before-login .password{
   text-align: left;
}
.FrontMembers_login01-d1_c1 .before-login .password A{
   margin-left: 41%;
    _margin-left: 42%;
}
.FrontMembers_login01-d1_c1 .before-login .input-password{
}
.FrontMembers_login01-d1_c1 .before-login .find-password{
}
.FrontMembers_login01-d1_c1 .before-login .forgot{
   margin-left: 8px;
}
.FrontMembers_login01-d1_c1 .verify SPAN{
   vertical-align: middle;
}
.FrontMembers_login01-d1_c1 .verify IMG{
   vertical-align: middle;
}
.FrontMembers_login01-d1_c1 .verify A{
   vertical-align: middle;
}
.FrontMembers_login01-d1_c1 .verify INPUT{
   vertical-align: middle;
}
.FrontMembers_login01-d1_c1 .before-login .verify .verify-pic{
   margin: 0px 8px;
}
.FrontMembers_login01-d1_c1 .before-login .btnarea{
   text-align: left;
    padding-bottom: 10px;
    padding-left: 41%;
    padding-right: 0px;
    overflow: hidden;
    padding-top: 10px;
    _padding: 10px 0 10px 41%;
}
.FrontMembers_login01-d1_c1 .before-login .non-member{
   text-align: left;
    width: 100%;
    overflow: hidden;
}
.FrontMembers_login01-d1_c1 .before-login .non-member A{
   margin-left: 60px;
}
.FrontMembers_login01-d1_c1 .after-login LI{
   line-height: 22px;
    height: 22px;
}
.FrontMembers_login01-d1_c1 .after-login .name SPAN{
   color: #06c;
    font-weight: bold;
}
.FrontMembers_login01-d1_c1 .after-login .nickname SPAN{
   color: #06c;
    font-weight: bold;
}
.FrontMembers_login01-d1_c1 .after-login .level SPAN{
   color: #f60;
}
.FrontMembers_login01-d1_c1 .after-login .btnarea{
   padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}
.FrontMembers_login01-d1_c1 .after-login .btnarea A{
   padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .after-login .btnarea A.btna{
   padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.FrontMembers_login01-d1_c1 .after-login .btnarea A.btna SPAN{
   padding-right: 10px;
}
.FrontMembers_login01-d1_c1 .text-oper{
   float: left;
    margin-left: 8px;
}
.FrontMembers_login01-d1_c1 .text-tip{
   float: left;
}
.FrontMembers_login01-d1_c1 .text-tip *{
   vertical-align: middle;
}
.FrontMembers_login01-d1_c1 .text-tip SPAN{
   line-height: 20px;
    width: auto !important;
    height: 20px;
    word-break: break-all;
}
#elem-FrontMembers_login01-001 .FrontMembers_login01-d1_c1 .before-login LI SPAN{
   width: 20%;
}
#elem-FrontMembers_login01-001 .FrontMembers_login01-d1_c1 .before-login .btnarea{
   padding-left: 25%;
}
#elem-FrontMembers_login01-001 .FrontMembers_login01-d1_c1 .before-login .password A{
   margin-left: 25%;
}
