html,
header,
body,
section,
header,
footer,
nav,
div,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
i,
p,
em,
a,
input,
button {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #fff;
  background-size: cover;
  color: #333;
  font: 13px/1.5;
  font-family: "Microsoft Yahei", "PingFang SC", "WenQuanYi Micro Hei", Tahoma, Arial, Helvetica, STHeiti;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
img {
  border: 0;
}
input,
img {
  vertical-align: middle;
}
ul,
li {
  list-style: none;
}
a,
img {
  -webkit-touch-callout: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all .3s;
          transition: all .3s;
}
b,
i,
em {
  font-style: normal;
  font-weight: 500;
}
input,
textarea {
  -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 15px;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}

.header-wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
}
.header-wrap-f {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-fix {
  padding-top: 120px;
}
.header-fix .header-wrap {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 220px;
  height: 120px;
}
.logo img {
  display: block;
  padding: 30px 0 0;
}
.nav {
  position: absolute;
  top: 0;
  right: -30px;
}
.nav li {
  position: relative;
  float: left;
}
.nav li a {
  display: block;
  height: 120px;
  line-height: 140px;
  padding: 0 30px;
  font-size: 14px;
  color: #221815;
  font-weight: 600;
}
.nav li:hover a,
.nav .cur a {
  background: #1e50ae;
  color: #fff;
  font-weight: 600;
}
.nav li:hover .nav-more {
  display: block;
}
.nav-more {
  display: none;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 100;
  width: 100%;
  padding: 0 10px;
  background: #1e50ae;
  color: #fff;
  box-sizing: border-box;
}
.nav li .nav-more a {
  display: block;
  widows: 100%;
  height: 42px;
  line-height: 42px;
  padding: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.nav li .nav-more .cur-more {
  font-weight: 600;
}
.nav li .nav-more a:hover {
  font-weight: 600;
}

.footer-wrap {
  width: 100%;
  height: 300px;
  background: #1e50ae;
}
.footer {
  position: relative;
  width: 1210px;
  margin: 0 auto;
}
.footer-l {
  float: left;
  padding: 60px 0 0;
  text-align: center;
  color: #fff;
}
.footer-l p {
  padding: 40px 0 5px;
  font-size: 16px;
}
.footer-hl {
  font-size: 42px;
  font-weight: 600;
}
.footer-r {
  position: relative;
  float: right;
  padding: 60px 165px 0 0;
}
.footer-link {
  width: 526px;
  padding-top: 14px;
  font-size: 18px;
  overflow: hidden;
}
.footer-link li {
  float: left;
  width: 209px;
  padding: 0 0 40px 54px;
  background: url(../img/icon_f_1.png) no-repeat;
  color: #fff;
}
.footer-link .footer-l-2 {
  background-image: url(../img/icon_f_2.png);
}
.footer-link .footer-l-3 {
  background-image: url(../img/icon_f_3.png);
}
.footer-link .footer-l-4 {
  background-image: url(../img/icon_f_4.png);
}
.footer-link li a {
  color: #fff;
}
.footer-l-t {
  margin-top: -6px;
  padding-bottom: 6px;
  font-size: 18px;
}
.footer-qrcode {
  position: absolute;
  right: 0;
  top: 60px;
}

.title {
  padding: 50px 0 30px;
  text-align: center;
}
.title-en {
  font-size: 70px;
  color: #1e50ae;
}
.title h3 {
  margin-top: 10px;
  background: url(../img/title_bg.png) center no-repeat;
  font-size: 34px;
  color: #333;
}
.title-w .title-en {
  color: #fff;
}
.title-w h3 {
  background: url(../img/title_bg_w.png) center no-repeat;
  color: #fff;
}

.title-info {
  font-size: 34px;
}
.title-info p {
  padding-top: 5px;
  color: #1e50ae;
}

.banner {
  min-width: 1140px;
  max-width: 1920px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.banner img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.banner-sol {
  height: 640px;
}
.banner-sol img {
  height: 640px;
}

.main {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.i-banner-wrap {
  position: relative;
  min-height: 600px;
  height: 100%;
}
.i-swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.i-swiper-slide img {
  position: relative;
  left: 50%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: translate3d(-50%, 0, 0);
     -moz-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.i-safe-prod-l {
  margin: 30px auto 80px;
  padding-left: 130px;
}
.i-safe-prod-i {
  float: left;
  width: 386px;
  margin: 0 112px 0 0;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #333;
  font-size: 14px;
}
.i-safe-prod-i img {
  display: block;
  width: 100%;
}
.i-safe-prod-t {
  padding: 14px 0 0;
}
.i-safe-prod-t h4 {
  font-size: 20px;
}
.i-safe-prod-t i {
  display: block;
  width: 30px;
  height: 2px;
  margin: 10px auto;
  background: #1e50ae;
}
.i-safe-prod-info {
  padding: 8px 0;
  color: #999;
}
.i-safe-prod-c p {
  color: #999;
}
.i-safe-prod-i:hover {
  background: #1e50ae;
  color: #fff;
}
.i-safe-prod-i:hover .i-safe-prod-t i {
  background: #fff;
}
.i-safe-prod-i:hover .i-safe-prod-info,
.i-safe-prod-i:hover .i-safe-prod-c p {
  color: #fff;
}

.i-solution {
  height: 994px;
  background: url(../img/index/i_soult_bg.jpg) no-repeat;
  background-size: cover;
}
.i-solution-cont {
  width: 1140px;
  padding: 10px 0 0 0;
}
.i-solution-c-l {
  float: left;
  width: 268px;
  margin-right: 14px;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.i-solution-c-l:last-child {
  margin-right: 0;
}
.i-solution-c-l img {
  display: block;
  width: 100%;
}
.i-solution-t {
  margin-top: 0;
  padding: 10px 15px 15px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  background: url(../img/index/arrow_solt.jpg) right 15px bottom 16px no-repeat;
}
.i-solution-t-m {
  margin: -4px 0 5px;
}
.i-solution-t-n {
  height: 48px;
  margin-bottom: 5px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  font-weight: 500;
  color: #999;
}

.i-news-cont {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.swiper-container {
  height: 100%;
}
.swiper-container-news {
  width: 1135px;
  height: 500px;
  margin: 10px auto 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.i-news-swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.i-news-swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 570px;
  height: 500px;
  object-fit: cover;
}
.i-news-c {
  padding: 0 30px 0 590px;
  color: #333;
}
.i-news-c-time {
  padding-top: 40px;
  font-size: 24px;
  color: #999;
}
.i-news-c-time p {
  padding-bottom: 5px;
  font-size: 50px;
  color: #333;
}
.i-news-title {
  padding: 30px 0 25px;
  font-size: 22px;
}
.i-news-title p {
  font-size: 14px;
}
.i-news-brief {
  line-height: 30px;
  font-size: 14px;
  color: #999;
}
.i-news-more {
  width: 80px;
  height: 24px;
  line-height: 24px;
  border-radius: 30px;
  margin-top: 20px;
  background: #1e50ae;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.i-news-list {
  width: 1135px;
  margin: 0 auto 14px;
}
.i-news-list a {
  position: relative;
  display: block;
  height: 90px;
  margin-top: 24px;
  padding: 0 0 24px 110px;
  border-bottom: dashed 1px #999;
}
.i-news-list a:last-child {
  border-bottom: 0;
}
.i-news-l-time {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  background: #e8e9eb;
  text-align: center;
  color: #999;
  font-size: 16px;
}
.i-news-l-time p {
  padding-top: 16px;
  font-size: 34px;
  color: #333;
}
.i-news-l-t {
  padding-top: 18px;
  font-size: 18px;
}
.i-news-l-t-c {
  padding-top: 10px;
  font-size: 14px;
}
.i-news-arrow-l {
  position: absolute;
  left: -80px;
  top: 220px;
  width: 40px;
  height: 40px;
  background: url(../img/index/icon_arrow_l.png) center no-repeat;
  cursor: pointer;
}
.i-news-arrow-r {
  position: absolute;
  right: -80px;
  top: 220px;
  width: 40px;
  height: 40px;
  background: url(../img/index/icon_arrow_r.png) center no-repeat;
  cursor: pointer;
}
.i-banner-dot {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.i-banner-dot span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: all .5s;
}
.i-banner-dot .swiper-pagination-bullet-active {
  background: #fff;
  width: 28px;
  border-radius: 30px;
}
.i-banner-arrow-l {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -650px;
  background: url(../img/index/icon_arrow_b_l.png) center no-repeat;
  cursor: pointer;
}
.i-banner-arrow-r {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  margin: -50px -650px 0 0;
  background: url(../img/index/icon_arrow_b_r.png) center no-repeat;
  cursor: pointer;
}

/* 联系我们 */
.contact-cont {
  width: 1300px;
  margin: 0 auto;
  padding: 60px 0;
}
.contact-cont-l {
  float: left;
  width: 540px;
}
.contact-cont-l .title-info {
  margin-left: 80px;
}
.contact-cont-item {
  position: relative;
  width: 1140px;
  margin: 45px 0 60px 80px;
}
.contact-cont-i {
  width: 700px;
  margin-top: 20px;
  padding: 15px 0 15px 86px;
  border-bottom: solid 1px #d6d6d6;
  font-size: 18px;
  color: #666;
  background: url(../img/icon_contact_1.png) 0 center no-repeat;
  font-weight: 600;
}
.contact-cont-i p {
  padding-top: 6px;
  font-weight: 500;
}
.contact-cont-i-2 {
  background-image: url(../img/icon_contact_2.png);
}
.contact-cont-i-3 {
  background-image: url(../img/icon_contact_3.png);
}
.contact-cont-l-m {
  margin-left: 70px;
  width: 1140px;
  height: 590px;
}
.contact-cont-qrcode {
  position: absolute;
  right: 0;
  top: 0;
}
.contact-cont-qrcode img {
  width: 200px;
  padding-right: 10px;
  vertical-align: middle;
}
.contact-cont-qrcode-c {
  margin-top: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #858585;
}
.contact-cont-r {
  float: right;
  width: 512px;
  padding: 20px;
  background: #e8e9eb;
}
.contact-cont-r-t {
  padding: 10px 5px;
  font-size: 24px;
}
.contact-news-list {
  padding-top: 20px;
}
.contact-news-list a {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 247px;
  height: 160px;
}
.contact-news-list a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 227px;
  height: 160px;
  object-fit: cover;
}
.contact-news-l-c-t {
  height: 26px;
  padding-top: 38px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.contact-news-list-c p {
  line-height: 24px;
  font-size: 14px;
}
.contact-news-list a:hover .contact-news-l-c-t {
  color: #1e50ae;
}
.contact-news-list a:hover img {
  opacity: .8;
}

/* 客户服务 */
.customer-service {
  width: 1055px;
  margin: 0 auto;
}
.customer-service-t {
  position: relative;
  margin-bottom: 40px;
  padding: 60px 0 15px 60px;
  border-bottom: solid 1px #d6d6d6;
  color: #000;
  font-size: 34px;
}
.customer-service-t:after {
  content: "";
  position: absolute;
  left: 56px;
  bottom: -1px;
  width: 160px;
  height: 1px;
  background: #1e50ae;
}
.customer-service-t span {
  font-size: 20px;
  color: #999;
}
.customer-service-c-i {
  float: left;
  width: 550px;
  text-align: center;
}
.customer-service-c-i-r {
  float: right;
}
.customer-service-c {
  margin-bottom: 40px;
}
.customer-service-c-i img {
  display: inline-block;
}
.customer-service-c-t {
  padding: 20px 0 10px;
  word-spacing: 15px;
  font-size: 30px;
}
.customer-service-c-t i {
  display: block;
  width: 34px;
  height: 2px;
  margin: 15px auto 10px;
  background: #1e50ae;
}
.customer-s-c-t-c {
  font-size: 30px;
  color: #999;
}
.customer-s-c-t-c p {
  font-size: 20px;
}
.customer-service-wrap {
  min-height: 586px;
  background: #e8e9eb url(../img/bg_customer.jpg) right 0 no-repeat;
}
.customer-service-info-w {
  width: 1140px;
  margin: 0 auto;
}
.customer-service-info {
  width: 666px;
}
.customer-service-info-c {
  margin-top: -10px;
  padding: 0 0 50px 60px;
  font-size: 24px;
}
.customer-service-info-c p {
  margin-bottom: 30px;
}
.customer-service-info-c span {
  font-size: 32px;
  color: #1e50ae;
}

/* 公司介绍 */
.intro-cont {
  width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
}
.intro-cont-f-w {
  position: relative;
  height: 520px;
  padding-right: 600px;
}
.intro-cont-c {
  line-height: 30px;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}
.intro-prod-evol .intro-cont-c {
  line-height: 36px;
}
.intro-cont-c-t {
  margin-top: 60px;
}
.intro-f-img {
  position: absolute;
  right: 0;
  top: 0;
}
.intro-cont-c-img {
  display: block;
  width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}
.intro-f-prod {
  position: absolute;
  left: 0;
  bottom: 60px;
  z-index: 20;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.intro-cont-honor {
  height: 188px;
  margin: 20px 0;
  padding: 20px 0 20px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.intro-cont-honor img {
  float: left;
  width: 260px;
  height: 188px;
  margin-right: 20px;
  object-fit: contain;
}
.intro-prod-evol-w {
  padding: 65px 0;
  background: #eee;
}
.intro-prod-evol-c {
  margin: 0 0 80px 30px;
}
.title-intro h3 {
  color: #1e50ae;
}
.intro-prod-evol {
  width: 1200px;
  margin: 0 auto;
}
.intro-prod-evol-tl {
  margin-left: 0;
}
.intro-prod-evol-img {
  float: left;
}
.intro-prod-evol-img img {
  width: 623px;
  height: 473px;
  object-fit: cover;
}
.intro-prod-evol-cont {
  float: right;
  width: 520px;
  padding-top: 50px;
}
.intro-news-wrap {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 60px 0 50px;
}
.intro-news-list {
  margin-top: 30px;
}
.intro-news-list a {
  position: relative;
  display: block;
  min-height: 52px;
  padding: 40px 0 40px 100px;
  border-bottom: dashed 1px #666;
}
.intro-news-list a:hover .intro-news-list-t {
  color: #1e50ae;
}
.intro-news-list a:nth-child(1),
.intro-news-list a:nth-child(2) {
  width: 450px;
}
.intro-news-list a:last-child {
  border-bottom: 0;
}
.intro-news-l-time {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 14px;
  color: #999;
}
.intro-news-l-time p {
  font-size: 28px;
  color: #333;
}
.intro-news-list-t {
  font-size: 18px;
}
.intro-news-list-c {
  line-height: 26px;
  font-size: 14px;
}
.intro-news-img {
  position: absolute;
  right: 0;
  top: 50px;
}
.intro-news-img-c {
  background: #1e50ae;
  padding: 10px 20px;
  color: #fff;
  font-size: 28px;
}
.intro-news-img-c p {
  font-size: 14px;
}

/* 解决方案 */
.solut-i-gray {
  background: #eee;
}
.solut-w1 {
  width: 1140px;
  margin: 90px auto;
}
.solut-banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.solut-banner img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.solut-banner-w {
  margin: 20px auto 50px;
}
.solut-banner-bot {
  margin-bottom: 80px;
}
/* 解决方案 定制 */
.banner-sol-dz {
  border-bottom: solid 5px #adadad;
}
.solut-dz-list {
  position: relative;
  z-index: 10;
  width: 1140px;
  margin: -220px auto 100px;
}
.solut-dz-list a {
  float: left;
  width: 510px;
  margin: 0 20px 30px 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.solut-dz-list a:nth-child(2n) {
  margin-right: 0;
}
.solut-dz-l-img img {
  display: block;
  width: 100%;
}
.solut-dz-l-title {
  padding: 35px 0 30px;
  font-size: 24px;
  text-align: center;
}
.solut-dz-l-title::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #333;
  margin-right: 20px;
  vertical-align: middle;
}
.solut-dz-l-title::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #333;
  margin-left: 20px;
  vertical-align: middle;
}
.solut-dz-l-more {
  width: 180px;
  height: 36px;
  line-height: 36px;
  background: #999;
  margin: 0 auto 8px;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  transition: all .3s;
}
.solut-dz-list a:hover .solut-dz-l-more {
  width: 290px;
  background: #1e50ae;
}
/* 解决方案 安全定制 */
.solut-safe-cont {
  padding: 60px 0 90px;
}
.solut-safe-cont-i1 {
  float: left;
  width: 490px;
}
.solut-safe-cont-w {
  float: right;
  width: 500px;
}
.solut-safe-cont-w-t {
  margin: 50px 0 30px;
  font-size: 34px;
}
.solut-safe-cont-w-t-2 {
  margin-top: 40px !important;
}
.solut-safe-cont-w-c {
  line-height: 40px;
  color: #666;
  font-size: 14px;
}
.solut-safe-gray {
  padding-bottom: 50px;
  background: #eee;
}
.solut-safe-cont-i2 {
  width: 530px;
  padding: 20px 0;
}
.solut-safe-cont-peo {
  position: absolute;
  right: 0;
  top: -200px;
  width: 470px;
}
.solut-safe-i3-w {
  padding: 80px 0;
}
.solut-safe-i3 {
  float: left;
  width: 570px;
}
.solut-safe-cont-i3 {
  float: right;
  width: 470px;
}
.solut-safe-i4-w {
  padding: 0 0 80px;
}
.solut-safe-i4 {
  float: right;
  width: 570px;
}
.solut-safe-cont-i4 {
  float: left;
  width: 560px;
}
.solut-safe-cont-i4 .solut-safe-cont-w-t {
  margin: 30px 0 30px;
}
.solut-safe-cont-w-app li {
  float: left;
  width: 144px;
  margin-right: 30px;
  text-align: center;
  font-size: 16px;
  color: #666;
}
.solut-safe-cont-w-a-i {
  font-size: 14px;
}
.solut-safe-cont-w-app li a {
  display: block;
  margin: 20px 0;
}
.solut-safe-cont-w-app li img {
  width: 125px;
}
.solut-safe-cont-w-app li a img {
  width: 30px;
}
.solut-safe-cont-w-a-t {
  font-weight: 600;
}
.solut-safe-cont-w-a-i p {
  margin-top: 20px;
}
.solut-safe-cont-i4 .solut-safe-cont-w-t1 {
  margin-top: 30px;
}
/* 硬件定制 */
.solut-hard {
  min-height: 673px;
  padding: 84px 0 40px 0;
}
.solut-hard-list {
  width: 820px;
  padding: 30px 0 0;
}
.solut-hard-list li {
  float: left;
  width: 238px;
  height: 238px;
  margin: 0 110px 54px 0;
  background: url(../img/solution/hard_bg.png) no-repeat;
  background-size: cover;
  text-align: center;
}
.solut-hard-t {
  padding: 70px 0 30px;
  font-size: 20px;
}
.solut-hard-list li p {
  width: 212px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
  background: #1e50ae;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
}
.solut-hard-img {
  position: absolute;
  right: -40px;
  top: 50px;
}
/* 软件定制 */
.solut-soft-list {
  margin-right: -24px;
  padding: 180px 0 78px;
}
.solut-soft-list li {
  position: relative;
  float: left;
  width: 210px;
  height: 400px;
  margin-right: 20px;
  padding: 108px 30px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.solut-soft-l-t {
  position: absolute;
  left: 60px;
  top: -80px;
  width: 148px;
  height: 148px;
  line-height: 148px;
  background: #1e50ae;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 28px;
  overflow: hidden;
}
.solut-soft-l-c {
  font-size: 14px;
  color: #666;
}
.solut-soft-l-c p {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}
.solut-soft-l-c p::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px;
  width: 5px;
  height: 5px;
  background: #999;
  border-radius: 50%;
}
.solut-soft-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 34px;
  color: #1e50ae;
}
.solut-soft-title::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #1e50ae;
  border-radius: 50%;
}
.solut-soft-rj {
  margin-bottom: 60px;
}
.solut-soft-rj-1 {
  float: left;
  width: 290px;
  margin-right: 40px;
}
.solut-soft-rj-2 {
  float: left;
  width: 350px;
  margin-right: 40px;
}
.solut-soft-rj-3 {
  float: left;
  width: 420px;
}
.solut-soft-rj-1 img,
.solut-soft-rj-2 img,
.solut-soft-rj-3 img {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.solut-soft-op {
  position: relative;
  padding: 0 400px 60px 0;
}
.solut-soft-op-img {
  float: left;
  width: 240px;
  margin: 0 100px 42px 0;
}
.solut-soft-op-big-i {
  position: absolute;
  right: 0;
  top: 0;
  width: 510px;
}
/* 包件定制 */
.solut-pack {
  width: 1280px;
  padding: 100px 0;
}
.solut-pack-l {
  float: left;
  width: 415px;
  margin-right: 16px;
  padding: 20px 0 0 0;
  font-size: 20px;
  color: #666;
}
.solut-pack-l p {
  padding-left: 74px;
  line-height: 30px;
  margin-bottom: 20px;
}
.solut-pack-l img {
  padding-top: 40px;
}
.solut-pack-m {
  float: left;
  width: 400px;
  margin-right: 16px;
}
.solut-pack-r {
  float: left;
  width: 417px;
}
.solut-pack-r-cont {
  font-size: 20px;
  color: #666;
}
.solut-pack-r-cont p {
  line-height: 30px;
  margin-bottom: 20px;
}
.solut-pack-r-cont img {
  float: left;
  width: 178px;
}
.solut-pack-r-c {
  float: left;
  padding: 40px 0 0 59px;
}

/* 行业方案 */
.solut-hy-sml-list {
  z-index: 20;
}
.solut-hy-sml-list a {
  width: 366px;
  padding: 20px 0 0;
  margin: 0 20px 20px 0;
}
.solut-hy-sml-list a:nth-child(2n) {
  margin-right: 20px;
}
.solut-hy-sml-list a:last-child {
  margin-right: 0;
}
.solut-hy-sml-list a img {
  display: block;
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
}
.solut-hy-list {
  width: 1140px;
  padding-top: 10px;
  margin-bottom: 100px;
}
.solut-hy-list a {
  width: 559px;
  padding: 20px 0 0;
}
.solut-hy-list a:last-child {
  margin-right: 0;
}
.solut-hy-list a img {
  display: block;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.solut-hy-sml-list .solut-dz-l-title,
.solut-hy-list .solut-dz-l-title {
  margin-top: 15px;
  padding: 15px 0;
}
.solut-hy-sml-list a:hover .solut-dz-l-title,
.solut-hy-list a:hover .solut-dz-l-title {
  background: #1e50ae;
  color: #fff;
}
.solut-hy-sml-list a:hover .solut-dz-l-title:after,
.solut-hy-sml-list a:hover .solut-dz-l-title:before,
.solut-hy-list a:hover .solut-dz-l-title:after,
.solut-hy-list a:hover .solut-dz-l-title:before {
  background: #fff;
}
/* 移动会议 */
.solut-meeting-w {
  width: 1140px;
  margin: 0 auto 100px;
}
.solut-meeting {
  margin-top: 60px;
}
.solut-meeting img {
  float: right;
}
.solut-meeting-img-1 {
  width: 640px;
}
.solut-medic img {
  width: 600px;
}
.solut-meeting-cont {
  float: left;
  width: 480px;
}
.solut-meeting-cont-1 {
  width: 440px;
}
.solut-meeting-cont h4 {
  margin-top: 30px;
  margin-bottom: 22px;
  font-size: 34px;
  color: #1e50ae;
}
.solut-meeting-cont p {
  margin-bottom: 15px;
}
.solut-meeting-c {
  line-height: 34px;
  font-size: 14px;
  color: #666;
}
.solut-meeting-r img {
  float: left;
}
.solut-meeting-r .solut-meeting-cont {
  float: right;
  margin-top: 60px;
}
.solut-study-r .solut-meeting-cont {
  margin-top: 120px;
}
/* 移动执法 */
.solut-meeting-enfor {
  margin: 60px 0 0;
}
.solut-meeting-enfor img {
  width: 610px;
}
.solut-meeting-enfor .solut-meeting-cont {
  margin: 0;
}
.solut-enfor-info {
  margin: 0 -90px 0 24px;
  padding-top: 100px;
}
.solut-enfor-info li {
  width: 230px;
  height: 200px;
  margin: 0 90px 0 0;
  padding: 108px 36px 0;
}
.solut-enfor-info .solut-soft-l-t {
  left: 80px;
  display: flex;
  width: 146px;
  height: 146px;
  line-height: 46px;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.solut-gov-info .solut-soft-l-t {
  left: 62px;
}
.solut-enfor-info .solut-soft-l-c p {
  line-height: 24px;
  padding: 0;
  margin-bottom: 14px;
  font-size: 14px;
}
.solut-enfor-info .solut-soft-l-c p::before {
  display: none;
}
.solut-enfor-unit {
  font-size: 14px;
  color: #666;
}
.solut-enfor-unit a {
  display: inline-block;
  margin: 0 5px 10px;
  color: #666;
}
.solut-enfor-case {
  padding: 120px 0 40px 0;
}
.solut-enfor-case li {
  width: 200px;
  height: 350px;
  margin-right: 30px;
  padding: 108px 30px 0;
  background: #efefef;
}
.solut-enfor-c-t {
  margin: 10px -20px;
  font-size: 36px;
  text-align: center;
}
.solut-enfor-case .solut-soft-l-t {
  left: 44px;
  top: -85px;
  width: 164px;
  background: transparent url(../img/solution/hy/icon_enfor_1.png) no-repeat;
  background-size: cover;
}
.solut-enfor-case li:nth-child(2) .solut-soft-l-t {
  background-image: url(../img/solution/hy/icon_enfor_3.png);
}
.solut-enfor-case li:nth-child(3) .solut-soft-l-t {
  background-image: url(../img/solution/hy/icon_enfor_4.png);
}
.solut-enfor-case li:nth-child(4) .solut-soft-l-t {
  background-image: url(../img/solution/hy/icon_enfor_2.png);
}
.solut-enfor-case .solut-soft-l-c p {
  line-height: 34px;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.solut-enfor-case .solut-soft-l-c p::before {
  display: none;
}
.solut-enfor-case .solut-enfor-c-t {
  font-size: 18px;
  font-weight: 600;
}
/* 移动政务 */
.solut-gov-cont {
  padding: 0 40px 30px;
}
.solut-gov-cont p {
  margin-bottom: 10px;
}
.solut-gov-info {
  margin: 0 -20px 0 0;
  padding-bottom: 40px;
}
.solut-gov-info li {
  width: 202px;
  height: 220px;
  margin: 0 18px 0 0;
  padding: 108px 35px 0;
}
.solut-gov-info li:nth-child(2n-1) {
  background: #efefef;
}
.solut-meeting-gov-case {
  padding-bottom: 40px;
}
.solut-meeting-gov-case .solut-meeting-cont {
  width: 480px;
  margin-left: 58px;
}
/* 移动学习 */
.solut-study-cont-ss {
  width: 1140px;
  margin: 75px auto 0;
}
.solut-study-cont-l {
  float: left;
  width: 570px;
  height: 536px;
  background: url(../img/solution/hy/study_1.jpg) no-repeat;
  color: #fff;
}
.solut-study-cont-l h4 {
  padding: 70px 0 30px 50px;
  font-size: 34px;
}
.solut-study-cont-l-c {
  line-height: 40px;
  padding: 0 76px 0 50px;
  font-size: 14px;
}
.solut-study-cont img {
  float: right;
  width: 724px;
}
.solut-study-r {
  width: 1140px;
  margin: 20px auto 80px;
}
.solut-study-r .solut-meeting-cont {
  width: 328px;
}
.solut-study-case {
  position: relative;
  width: 1140px;
  margin: 0 auto 80px;
}
.solut-study-case img {
  display: block;
  padding: 20px 0 0;
}
.solut-study-case-cont {
  padding: 100px 0 0 90px;
  font-size: 24px;
  color: #666;
}
.solut-study-cont-app p {
  font-size: 22px;
}
.solut-study-case-cont p {
  margin-bottom: 20px;
}
.solut-study-case-cont span {
  color: #ed3b08;
}
/* 移动医疗 */
.solut-medic {
  margin-bottom: 50px;
}
.solut-medic h4 {
  margin: 30px 0 40px;
}
.solut-medic .solut-meeting-cont {
  width: 480px;
}
.solut-medic .solut-meeting-c {
  line-height: 40px;
  font-size: 14px;
}
.solut-study-cont {
  width: 1140px;
  margin: 0 auto;
}
.solut-study-cont li {
  float: left;
  width: 379px;
  height: 320px;
  border-right: solid 1px #fff;
  background: #1e50ae;
}
.solut-study-cont-t {
  padding: 30px 0 0 38px;
  color: #fff;
  font-size: 20px;
}
.solut-study-cont-t:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 10px;
  border-width: 10px 8px 0 8px;
  border-color: rgba(255, 255, 255, .5) transparent transparent transparent;
  border-style: solid dashed dashed dashed;
}
.solut-study-cont-t p {
  color: #5a88df;
}
.solut-study-cont-c {
  height: 120px;
  line-height: 30px;
  padding: 26px 38px 0;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}
.solut-study-cont-tag {
  margin-top: 10px;
  padding: 10px 0 0 40px;
}
.solut-study-cont-tag span {
  display: inline-block;
  width: 170px;
  height: 36px;
  line-height: 36px;
  background: #a5b9df;
  color: #1e50ae;
  font-size: 20px;
  text-align: center;
}
.solut-study-list {
  margin: 0 -70px 70px 0;
}
.solut-study-list li {
  float: left;
  width: 232px;
  margin: 0 70px 0 0;
  text-align: center;
}
.solut-study-l-t {
  padding: 25px 0 0;
  font-size: 22px;
  color: #1e50ae;
}
.solut-study-l-t p {
  margin: 5px 0 0;
  font-size: 26px;
  color: #999;
}
.solut-study-l-cont {
  line-height: 28px;
  padding: 20px 0 0;
  font-size: 14px;
  color: #666;
  text-align: left;
}
.solut-study-l-cont p {
  padding-bottom: 10px;
}
/* 解决方案 核心技术 */
.solut-core-idx-cont {
  margin: 20px 0 0;
}
.solut-core-idx-cont h4 {
  padding: 20px 0 0;
  font-size: 28px;
  color: #666;
}
.solut-core-idx-cont .solut-meeting-c p {
  line-height: 50px;
  font-size: 16px;
}
.solut-core-idx-cont .solut-meeting-c p strong {
  color: #1e50ae;
  font-weight: 500;
}
.solut-core-btn {
  display: block;
  width: 118px;
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  background: #1e50ae;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.solut-core-idx {
  width: 1140px;
  margin: 0 auto 60px;
}
.solut-core-idx-l {
  float: left;
  width: 778px;
}
.solut-core-idx-l a {
  float: left;
  width: 367px;
  height: 405px;
  border: solid 1px #666;
  margin: 0 20px 20px 0;
  overflow: hidden;
  -webkit-transition: none;
  transition: none;
}
.solut-core-idx-l a:hover {
  width: 363px;
  height: 401px;
  border: solid 3px #1e50ae;
}
.solut-core-idx-l a img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all .3s;
  transition: all .3s;
  object-fit: cover;
}
.solut-core-idx-l a:hover img {
  transform: scale(1.1);
}
.solut-core-idx-r {
  float: right;
  width: 362px;
}
.solut-core-idx-r a {
  display: block;
  width: 360px;
  height: 259px;
  margin: 0 0 25px 0;
  border: solid 1px #666;
  overflow: hidden;
  -webkit-transition: none;
  transition: none;
}
.solut-core-idx-r a:hover {
  width: 356px;
  height: 255px;
  border: solid 3px #1e50ae;
}
.solut-core-idx-r a img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.solut-core-idx-r a:hover img {
  transform: scale(1.1);
}
.solut-core-tag {
  position: relative;
  width: 1140px;
  height: 500px;
  margin: 100px auto 40px;
}
.solut-core-t-c-w {
  margin: 0 0 0 50px;
}
.solut-core-tag img {
  position: absolute;
  right: -120px;
  top: -170px;
  width: 670px;
}
.solut-core-t-title {
  margin-bottom: 40px;
  font-size: 34px;
  color: #c3c3c3;
}
.solut-core-t-title p {
  font-size: 34px;
  color: #333;
}
.solut-core-t-cont {
  width: 450px;
}
.solut-core-t-cont p {
  position: relative;
  line-height: 40px;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 16px;
  color: #666;
}
.solut-core-t-cont p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
}
.solut-core-mail {
  margin: 80px auto 100px
}
.solut-core-mail img {
  position: absolute;
  left: 0;
  top: -150px;
  width: 771px;
}
.solut-core-mail .solut-core-t-c-w {
  margin: 0 0 0 650px;
  padding-top: 60px;
}
.solut-core-word {
  background: #fff;
  height: 410px;
  margin-top: -246px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.solut-core-word img {
  float: left;
}
.solut-core-word-c {
  float: right;
  width: 380px;
  line-height: 50px;
  padding: 80px 80px 0 60px;
  font-size: 16px;
  color: #666;
}
.solut-core-word-c strong {
  color: #1e50ae;
  font-weight: 500;
}
.solut-core-word-list {
  margin: 60px -45px 60px 0;
}
.solut-core-word-list li {
  float: left;
  width: 354px;
  margin: 0 40px 0 0;
}
.solut-core-word-list li img {
  display: block;
  width: 100%;
}
.solut-core-word-l-t {
  display: inline-block;
  margin: 10px 0 15px;
  border-bottom: solid 3px #1e50ae;
}
.solut-core-word-l-t span {
  display: block;
  height: 40px;
  margin-bottom: 12px;
  font-size: 50px;
  color: #333;
  overflow: hidden;
}
.solut-core-word-list li p {
  height: 90px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
}

/* 安全产品 */
.prod-main-i {
  padding: 50px 0;
}
.prod-idx-l {
  float: left;
  width: 300px;
}
.prod-idx-l-t {
  height: 260px;
  line-height: 260px;
  background: #1e50ae;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.prod-idx-l-t p {
  font-size: 22px;
}
.prod-idx-l a {
  display: block;
  height: 260px;
  line-height: 260px;
  background: #f3f3f3;
  border: solid 2px transparent;
  border-bottom: solid 1px #bebebe;
  text-align: center;
  font-size: 22px;
  box-sizing: border-box;
  transition: none;
}
.prod-idx-l a:last-child {
  border-bottom: 0;
}
.prod-idx-l a.cur,
.prod-idx-l a:hover {
  border: solid 2px #1e50ae;
}
.prod-idx-r {
  float: right;
  width: 790px;
}
.prod-idx-list {
  margin-right: -20px;
}
.prod-idx-list a {
  float: left;
  width: 250px;
  margin: 0 18px 18px 0;
}
.prod-idx-list a:hover .prod-idx-list-i {
  border-color: #1e50ae;
}
.prod-idx-list-i {
  border: solid 2px #dbdbdb;
}
.prod-idx-list-i img {
  width: 246px;
  object-fit: cover;
}
.prod-idx-list-t {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}
.prod-idx-list-t i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 2px;
  margin: 0 6px;
  background: #333;
}
/* 产品详情 */
.prod-detail-cont {
  padding: 40px 0;
}
.prod-detail-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 30px;
  color: #1e50ae;
}
.prod-detail-title::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1e50ae;
}
.prod-detail-c-list {
  padding: 0 0 40px 0;
  font-size: 16px;
}
.prod-detail-c-list dt {
  margin: 30px 0 15px;
  font-weight: 600;
}
.prod-detail-c-list dd {
  margin: 15px 0;
}
.prod-detail-param {
  padding: 0 0 30px;
}
.prod-detail-param-l {
  float: left;
}
.prod-detail-param-r {
  float: right;
}
.prod-detail-param-img {
  width: 558px;
}
.prod-detail-param-i-big {
  width: 558px;
  height: 500px;
  margin: 20px 0;
}
.prod-detail-param-i-big img {
  width: 558px;
  height: 500px;
  margin: 0 auto;
  object-fit: contain;
}
.prod-detail-param-i-list {
  margin-right: -12px;
}
.prod-detail-param-i-list li {
  float: left;
  width: 100px;
  height: 106px;
  margin-right: 12px;
  border: solid 1px #eee;
  cursor: pointer;
}
.prod-detail-param-i-list li.cur {
  border: solid 1px #1e50ae;
}
.prod-detail-param-i-list li img {
  width: 100px;
  height: 106px;
  object-fit: cover;
}
.prod-detail-param-c {
  width: 470px;
  margin-top: 35px;
}
.prod-detail-param-d li {
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  color: #666;
  overflow: hidden;
}
.prod-detail-param-d li.prod-detail-param-d-t {
  margin-bottom: 25px;
  font-size: 22px;
}
.prod-detail-param-d li.prod-detail-param-d-t span {
  font-weight: 600;
  font-size: 16px;
}
.prod-detail-param-d li span {
  float: left;
  width: 280px;
  font-size: 14px;
}
.prod-detail-param-d li span.prod-detail-param-d-t1 {
  width: 130px;
  font-weight: 600;
  font-size: 16px;
}

.mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.hide {
  display: none;
}

/* 修改 */
.footer-link li {
  margin-top: 45px;
}
.news-more-btn {
  display: block;
  width: 190px;
  height: 30px;
  line-height: 30px;
  background: #1e50ae;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.i-news-more-btn {
  margin: 20px 0 40px 0;
}
.int-news-more-btn {
  margin: 20px 0 20px 100px;
}
.news-list a {
  display: block;
  padding: 20px 0;
  border-bottom: dashed 1px #b6b6b6;
}
.news-list a:hover .intro-news-list-t {
  color: #1e50ae;
}
.news-list a:hover .intro-news-list-t span {
  color: #666;
}
.news-list .intro-news-list-t {
  position: relative;
  margin-bottom: 15px;
}
.news-list .intro-news-list-t span {
  position: absolute;
  right: 0;
  color: #666;
}
.news-list .intro-news-list-c {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-list-page {
  margin: 20px 0;
  font-size: 16px;
}
.news-list-page span {
  color: #1e50ae;
  font-weight: 600;
}
.news-list-page em {
  display: inline-block;
  border: solid 1px #bfbfbf;
  margin: 0 0 0 20px;
  padding: 0 10px;
}
.news-detail {
  margin: 40px auto;
}
.news-detail-title {
  padding-bottom: 20px;
  border-bottom: solid 1px #c9c9c9;
}
.news-detail-title h1 {
  margin-bottom: 15px;
  font-size: 30px;
}
.news-list-time {
  font-size: 14px;
  color: #b1b1b1;
}
.news-detail-cont {
  line-height: 34px;
  margin: 40px 0;
  font-size: 14px;
  color: #666;
}
.news-detail-cont img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
}
.news-detail-footer {
  position: relative;
  border-top: solid 1px #c9c9c9;
  margin-top: 50px;
  padding: 20px 0;
  font-size: 14px;
}
.news-detail-footer p {
  padding: 10px 0;
}
.news-detail-footer a {
  color: #b1b1b1;
}
.news-detail-f-s {
  position: absolute;
  right: 0;
  top: 60px;
}

.footer {
  width: 1100px;
}
.footer-wrap,
.footer-wrap .fp-tableCell {
  height: 440px !important;
}
.footer-l {
  padding: 110px 0 0 60px;
}
.footer-copy {
  padding: 40px 0 50px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.footer-copy-cont {
  padding: 20px 0 30px;
}
.footer-copy-cont a {
  color: #fff;
}
.footer-copy-ser img {
  display: inline-block;
}

.nav li a.nav-i-more {
  background-image: url(../img/index/arrow_nav_d.png);
  background-position: right 13px top 67px;
  background-repeat: no-repeat;
}
.nav li.cur a.nav-i-more,
.nav li a:hover.nav-i-more {
  background-image: url(../img/index/arrow_nav_u.png);
}
.nav-l2 {
  display: none;
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 10;
  width: 100%;
  padding: 30px 0;
  background: #fff;
  text-align: center;
}
.nav-l2-item {
  display: inline-block;
  width: 230px;
  vertical-align: top;
}
.nav-l2-i-t {
  margin-bottom: 15px;
  padding-bottom: 16px;
  border-bottom: solid 1px #e3e3e3;
  font-size: 22px;
  color: #666;
  text-align: left;
}
.nav-l2-i-t a {
  color: #666;
}
.nav-l2-i-t a:hover {
  color: #1e50ae;
}
.nav-l2-i-t a:hover i {
  background: #1e50ae;
}
.nav-l2-i-l  {
  text-align: left;
}
.nav-l2-i-l a {
  display: block;
  height: 34px;
  line-height: 34px;
  margin: 0 10px 10px 0;
  font-size: 14px;
  color: #9a9a9a;
}
.nav-l2-i-l a:hover {
  color: #1e50ae;
}
.nav-l2-item-hxjs {
  width: 240px;
}
.nav-l2-item-dznl {
  width: 280px;
}
.nav-l2-prod .nav-l2-item {
  margin: 0 95px;
}
.nav-l2-solu .nav-l2-item {
  margin: 0 35px;
}
.solut-safe-cont-w-t1 {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
  font-size: 24px;
}
.solut-safe-cont-w-t1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
}
.solut-core-idx-cont {
  position: relative;
}
.solut-core-idx-cont .solut-meeting-cont {
  position: absolute;
  left: 510px;
  top: 25px;
  width: 450px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 0 60px 40px 120px;
  background: rgba(255, 255, 255, .8);
}

.i-page {
  display: flex;
  min-height: 600px;
  align-items: center;
}
.i-page1 img {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -245px;
}
.i-page1-cont {
  width: 460px;
}
.i-page1-cont li {
  padding: 18px 0;
  border-bottom: solid 1px #d2d2d2;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.i-page1-cont li:last-child {
  border-bottom: 0;
}
.i-page1-cont li p {
  padding-top: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}
.i-page2 {
  position: relative;
  background: url(../img/index/i_page2_bg.jpg) no-repeat;
  background-size: cover;
}
.i-page2 .main {
  display: flex;
  min-height: 600px;
  align-items: center;
}
.i-page2 img {
  position: absolute;
  right: -20px;
  bottom: 0;
}
.i-page2-cont {
  width: 470px;
  color: #fff;
}
.i-page2-cont h3 {
  font-size: 34px;
}
.i-page2-cont p {
  line-height: 30px;
  margin: 50px 0 40px;
  font-size: 14px;
}
.i-page2-cont span {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  border: solid 1px #fff;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.i-page3-t1 {
  font-size: 34px;
  color: #1e50ae;
  text-align: center;
}
.i-page3-title {
  padding: 10px 0 30px;
}
.i-page3-title h3 {
  background-image: url(../img/index/i_title_bg.jpg);
  font-size: 14px;
}
.i-page3 img {
  display: block;
  margin: 0 auto;
}
.i-page4 {
  position: relative;
  background: url(../img/index/i_page4_bg.jpg) no-repeat;
  background-size: cover;
}
.i-page5 {
  position: relative;
  background: url(../img/index/i_page5_bg.jpg) no-repeat;
  background-size: cover;
}

.sdk-pop {
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 1000;
  width: 470px;
  height: 600px;
  margin: -300px 0 0 -235px;
  background: #fff;
}
.sdk-pop-title {
  height: 58px;
  line-height: 58px;
}
.sdk-pop-title span {
  float: left;
  width: 50%;
  background: #e0e4e8;
  text-align: center;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.sdk-pop-title span.cur {
  background: #fff;
}
.sdk-pop-cont {
  padding: 15px 46px;
}
.sdk-pop-code img {
  display: block;
  width: 260px;
  margin: 90px auto 55px;
}
.sdk-pop-code p {
  font-size: 14px;
  text-align: center;
  color: #999;
}
.sdk-pop-c-t {
  font-size: 12px;
}
.sdk-pop-c-t span {
  display: block;
  padding-top: 4px;
  font-size: 14px;
  color: #1e50ae;
}
.sdk-pop-c-f-t {
  padding: 15px 0 20px;
  font-size: 24px;
}
.sdk-pop-c-ipt {
  margin-bottom: 24px;
}
.sdk-pop-c-ipt-t {
  margin: 0 0 10px;
  font-size: 16px;
}
.sdk-pop-c-ipt-t span {
  color: #f00;
}
.sdk-pop-c-ipt input {
  display: block;
  width: 100%;
  height: 32px;
  padding: 2px 8px;
  border: solid 1px #b5b5b5;
  box-sizing: border-box;
  outline: none;
}
.sdk-pop-c-btn {
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #1e50ae;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
.news-list-main {
  margin-bottom: 80px;
}
.sdk-pop-close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
  background: #e0e4e8 url(../img/close.jpg) center no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.animate {
  opacity: 0;
}
.animate.animated {
  opacity: 1;
}

.solut-meeting {
  position: relative;
}
.solut-after {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #aaa;
  font-size: 12px;
}
